.myCard {
  background-color: white;
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  text-align: center;

  max-width: 85%;
}

.hero {
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

.cardContent {
  margin: 1.75rem 1.5rem;
}

.description h1 {
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: 900;

  margin: 0 0 0.67rem 0;
}

.description p {
  color: var(--desaturated-blue);
  font-size: 1rem;
  font-weight: 500;

  line-height: 1.6rem;
  margin: 1rem 0 1.5rem 0;
}

.miniCard {
  background-color: var(--very-pale-blue);
  border-radius: var(--mini-card-border-radius);

  justify-content: space-between;
  line-height: 0.5;

  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
}

.miniCard,
.miniCardDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.miniCardDetail img {
  margin-right: 0.8rem;
}

.itemName {
  color: var(--dark-blue);
  font-size: 0.9rem;
  font-weight: 900;
}

.itemPrice {
  color: var(--desaturated-blue);
  font-size: 0.9rem;
  font-weight: 500;
}

.changeItem:link,
.changeItem:visited {
  color: var(--bright-blue);
  font-size: 0.9rem;
  font-weight: 700;
}

.changeItem:hover,
.changeItem:active {
  text-decoration: none;
  opacity: 0.75;
}

.submission {
  display: flex;
  flex-direction: column;
}

.proceedBtn:link,
.proceedBtn:visited {
  background-color: var(--bright-blue);
  border-radius: var(--mini-card-border-radius);

  color: white;
  font-weight: 700;
  text-decoration: none;

  padding: 1rem;
  margin-bottom: 1.5rem;

  box-shadow: 0 1.2rem 1.2rem hsla(245, 75%, 52%, 0.15);
}

.proceedBtn:hover,
.proceedBtn:active {
  opacity: 0.75;
}

.cancelOrder:link,
.cancelOrder:visited {
  color: var(--desaturated-blue);
  font-weight: 900;
  text-decoration: none;

  width: fit-content;
  margin: 0 auto;
}

.cancelOrder:hover,
.cancelOrder:active {
  color: var(--dark-blue);
}

@media (min-width: 450px) {
  .myCard {
    width: 450px;
    margin: 1rem;
  }

  .cardContent {
    margin: 2rem;
    margin-bottom: 3rem;
  }

  .description h1 {
    font-size: 2rem;
    margin: 1rem;
  }

  .description p {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1rem 1rem 1.5rem 1rem;
  }

  .miniCard {
    padding: 1rem 1.5rem;
    margin-bottom: 1.75rem;
  }

  .proceedBtn:link,
  .proceedBtn:visited {
    margin-bottom: 1.75rem;
  }

  .itemName,
  .itemPrice,
  .changeItem:link,
  .changeItem:visited {
    font-size: 1rem;
  }
}
