* {
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  --card-border-radius: 1.2rem;
  --mini-card-border-radius: calc(var(--card-border-radius) * 0.5);
}

#root {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;

  padding: 0;
  margin: 0;
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--pale-blue);
  background-image: url("assets/pattern-background-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 450px) {
  body {
    background-image: url("assets/pattern-background-desktop.svg");
    background-repeat: repeat-x;
  }
}
